@import '../../styles/variables';

.c__Prefooter {
  background-color: $prefooter-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0;
  h2 {
    max-width: 750px;
  }
  div.slim {
    max-width: 1124px;
    width: 100%;
  }
  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    
  }
  p {
    font-size: 24px;
    color: $gray;
    line-height: 1.4;
    max-width: 850px;
  }

  .c__SubscribeForm__Terms {
    a {
      color: $primary-color;
      text-decoration: none !important;
    }
  }
}