@import '../../styles/variables';

.c__SubscribeForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  & > div {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  input {
    flex-grow: 1;
    border-radius: 8px;
    border: solid 1px $light;
    padding: 12px 8px;
  }
  button {
    width: 150px;
  }
  a {
    color: $light;
    &:hover {
      color: $primary-color;
    }
  }

  &__Terms {

  }
}